<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
      .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white !important;
    background-color: #dc3545 !important;
    }
    .nav-link{
      color: #dc3545 !important;;
    }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
   <div class="container my-4">
      <nav class="nav nav-pills flex-column flex-sm-row border-danger border rounded-3">
        <a class="flex-sm-fill text-sm-center nav-link  fw-bold" aria-current="page" href="index.html">BLOOD BANK</a>
        <a class="flex-sm-fill text-sm-center nav-link fw-bold active" href="blooddonor.html">BLOOD DONOR</a>
      </nav>  
   </div>
    <div class="modal position-static d-block" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger"><b>Blood Donor Data</b></h5>
            </div>
            <div class="modal-body">
                <form>
                    <!-- District Select Menu -->
                    <select class="form-select  mb-4" aria-label="Default select example">
                        <option selected>District</option>
                        <option value="1">Mumbai Suburban</option>
                        <option value="2">Mumbai City</option>
                        <option value="3">Thane</option>
                    </select>

                    <!-- City Select Menu -->
                    <select class="form-select  mb-4" aria-label="Default select example">
                        <option selected>City</option>
                        <option value="1">Andheri</option>
                        <option value="2">Borivali</option>
                        <option value="3">Malad</option>
                    </select>

                    <!-- Blood Group Select Menu -->
                    <select class="form-select  mb-3" aria-label="Default select example">
                        <option selected>Blood Group</option>
                        <option value="1">A+</option>
                        <option value="2">A-</option>
                        <option value="3">B+</option>
                        <option value="3">B-+</option>
                        <option value="3">O+</option>
                        <option value="3">O-</option>
                        <option value="3">AB+</option>
                        <option value="3">AB-</option>
                    </select>

                    <button type="submit" class="btn btn-danger">Submit</button>
                  </form>
            </div>
          </div>
        </div>
    </div>

    <!-- Table Content -->
    <div class="container">
        <table class="table table-bordered border-danger">
            <thead>
              <tr>
                <th scope="col" class="text-white bg-danger">Sr no.</th>
                <th scope="col" class="text-white bg-danger">Name</th>
                <th scope="col" class="text-white bg-danger">Blood Group</th>
                <th scope="col" class="text-white bg-danger">Location</th>
                <th scope="col" class="text-white bg-danger">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Faiz Ansari</td>
                <td>B+</td>
                <td>Mumbai, Malad West</td>
                <td>1234567891</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Faiz Ansari</td>
                <td>B+</td>
                <td>Mumbai, Malad West</td>
                <td>1234567891</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Faiz Ansari</td>
                <td>B+</td>
                <td>Mumbai, Malad West</td>
                <td>1234567891</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Faiz Ansari</td>
                <td>B+</td>
                <td>Mumbai, Malad West</td>
                <td>1234567891</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Faiz Ansari</td>
                <td>B+</td>
                <td>Mumbai, Malad West</td>
                <td>1234567891</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Faiz Ansari</td>
                <td>B+</td>
                <td>Mumbai, Malad West</td>
                <td>1234567891</td>
              </tr>
              
            </tbody>
          </table>
    </div>
       
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">More Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered border-danger">
                <thead>
                  <tr>
                    <!-- <th scope="col" class="text-white bg-danger">Sr no.</th>
                    <th scope="col" class="text-white bg-danger">Blood Bank Name</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">BB Name</th>
                    <td>Grant Medical Foundation</td>
                  </tr>
                  <tr>
                    <th scope="row">District</th>
                    <td>Mumbai City</td>
                  </tr>
                  <tr>
                    <th scope="row">City</th>
                    <td>Malad</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td>Indian Medical Charitable Trust, Main Road Gandhi chowk Bhandara 441904</td>
                  </tr>
                  <tr>
                    <th scope="row">Pincode</th>
                    <td>441904</td>
                  </tr>
                  <tr>
                    <th scope="row">Phone no.</th>
                    <td>12345678</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="pagination">
      <a href="?page=1">First</a>
      <a href="?page=<%= currentPage - 1 %>">Previous</a>
      <span>Page <%= currentPage %> of <%= totalPages %></span>
      <a href="?page=<%= currentPage + 1 %>">Next</a>
      <a href="?page=<%= totalPages %>">Last</a>
    </div>
   
  </body>
</html>